{
    "presets": [
        "@babel/preset-env",
        "mobx"
    ],
    "plugins": [
        [
            "@babel/plugin-proposal-decorators",
            {
                "legacy": true
            }
        ]
    ]
}