.add {
  border: 1px solid red;
  .add-header {
    text-align: center;
    .logo {
      width: 100px;
    }
  }
  .container {
    .task-head {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
