$colors: (
  fill: #a972cb,
  pulse: #ef6eae,
  close: #ff7f82,
  raise: #ffa260,
  up: #e4cb58,
  slide: #8fc866,
  offset: #19bc8b,
);
@each $button, $color in $colors {
  .#{$button} {
    --color: #{$color};
    --hover: #{adjust-hue($color, 45deg)};
  }
}
.layout {
  height: 100%;
  .sider {
    color: #fff;
    padding: 15px 5px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 10px;
    .menuItem {
      display: inline-block;
      padding: 5px;
      cursor: pointer;
      background: none;
      border: 2px solid;
      line-height: 1;
      margin-bottom: 10px;
      margin-right: 5px;
    }
    .pulse:hover,
    .pulse:focus {
      animation: pulse 1s;
      box-shadow: 0 0 0 2em transparent;
    }

    @keyframes pulse {
      0% {
        box-shadow: 0 0 0 0 var(--hover);
      }
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
    .bar {
      width: 100px;
      height: 100px;
      border: 1px solid black;
    }
  }
}

.file-view-paging {
  span {
    display: inline-block;
    width: 50px;
    margin-right: 3px;
    cursor: pointer;
    text-align: center;
  }
}
