@charset "utf-8";
@import '~highlight.js/styles/github.css';
.l_box { width: 30%; float: left }
.r_box { width: 68%; float: right }
.l_box h2 { color: #333; font-size: 14px; line-height: 30px; padding-left: 20px; background: #fff;}
.l_box .ant-card { background: rgba(255,255,255,0.5); margin-bottom: 20px; overflow: hidden }
.l_box .ant-card ul { padding: 10px; overflow: hidden }
.l_box .ant-card-body{padding: 0}
.about_me img {width: 100%;height: 100%;}
.about_me p{line-height: 24px; font-size: 14px;text-align: center;}
.about_me .head_img { width: 100px;height: 100px; position: relative;margin: 0 auto;margin-top: 20px;margin-bottom: 20px;}
.about_me .head_img::before,.about_me .head_img::after{content:"";display: block;position: absolute;top: 0px;left: 0px;border: 2px solid #0F0;z-index: 10;box-sizing: border-box;animation: Anim 10s infinite linear;width: 100px;height: 100px;}
.about_me .head_img::before{animation-delay:-5s ;}
@keyframes Anim{
    0%,100%{
        clip: rect(0px,100px,100px,97px);
    }
    25%{
        clip: rect(0px,100px,3px,0px);
    }
    50%{
        clip:rect(0px,3px,100px,0px);
    }
    75%{
        clip: rect(97px,100px,100px,0px)
    }
}
.tuijian li { text-overflow: ellipsis; white-space: nowrap; overflow: hidden; margin-bottom: 5px; background: url(../images/li.png) left center no-repeat; padding-left: 20px }
.tuijian li:hover{color: #fff;}
.links a { display: block; float: left; margin: 0 10px 5px 0 }
.r_box .ant-card { background: rgba(255,255,255,0.8); padding: 15px; overflow: hidden; color: #797b7c; margin-bottom: 15px }
.r_box .ant-card h3 { font-size: 16px; line-height: 25px; text-shadow: #FFF 1px 1px 1px }
.r_box .ant-card h3 a { color: #222 }
.r_box .ant-card h3 a:hover { color: #000; text-decoration: underline }
.r_box .ant-card .listInfo{display: flex;}
.r_box .ant-card .listInfo div{padding:3px;border-radius:5px;display: flex;}
.r_box .ant-card .listInfo .createTime{color: #797b7c;}
.r_box .ant-card .listInfo .blogTag{color:#fff;font-size: 14px;height: 20px;line-height: 12px}
.calendar{background-size: 100%;width: 20px;height: 20px;background-position: 0 3px;}
.news_con{margin-top: 25px;margin-bottom: 25px;}
article .news_con  h3,h4,h5,h6{margin: 15px 0;padding: 0 50px;}
.news_con p{line-height: 30px;text-align: justify;padding: 0 50px;}
.news_con li{text-indent: 30px;}
.news_con pre{padding-top: 20px;padding-bottom: 20px;padding-left: 30px;background: #000;color: #f8f8f8;width: 90%;margin: 0 auto;margin-bottom: 20px;}
.r_box .ant-card i {display: block; max-height: 100px; overflow: hidden; float:left ;color: #F8A8A8;}
.artList .ant-card p {margin: 20px 0 0 0; line-height: 22px; overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; white-space: nowrap;-webkit-box-orient: vertical; width:95%}
.r_box .ant-card:hover img { transform: scale(1.05) }
.r_box .ant-card:hover h3 a { color: #19585d; }
.ant-pagination-item{cursor:pointer;border-radius:4px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;min-width:32px;height:32px;line-height:30px;text-align:center;list-style:none;display:inline-block;vertical-align:middle;margin-right:8px;font-family:Arial;outline:0}
.ant-pagination-jump-next,.ant-pagination-jump-prev,.ant-pagination-next,.ant-pagination-prev{font-family:Arial;cursor:pointer;color:rgba(255,255,255 .65);border-radius:4px;list-style:none;min-width:32px;height:32px;line-height:32px;text-align:center;-webkit-transition:all .3s;-o-transition:all .3s;transition:all .3s;display:inline-block;vertical-align:middle}
.ant-pagination-disabled,.ant-pagination-disabled:focus,.ant-pagination-disabled:hover{cursor:not-allowed}
a.curPage{color:#19585d;font-weight:700}
.about{padding:20px;background:rgba(255,255,255,.8)}
.about img{max-width:500px;margin:20px 0;width:100%}
.cloud ul a{line-height:24px;height:24px;display:block;background:#999;float:left;padding:0 5px;margin:10px 10px 0 0;border-radius:8px;-moz-transition:all .5s;-webkit-transition:all .5s;-o-transition:all .5s;transition:all .5s;color:#FFF;font-size: 12px;}
.cloud ul a:hover{border-radius:0;text-shadow:#000 1px 1px 1px}
.ant-pagination-item{width:20px;text-align:center;margin:0 5px}
.ant-pagination-item a{color:#555;}
.ant-pagination-item-link{line-height:25px;color:#555;}
.ant-card-body{zoom:1}
.ant-timeline-item{position:relative;padding:0 0 28px;list-style:none;margin:0;font-size:14px}
.ant-timeline-item-head{position:absolute;left: 20px;background-color:#fff;border-radius:100px;}
.ant-timeline-item-content{padding:0 0 0 20px;position:relative;top:-6px}
.ant-timeline-item-tail{position:absolute;left:20px;top:.75em;height:100%;border-left:1px dashed rgba(0,0,0,.25)}
.ant-timeline-item-last .ant-timeline-item-tail{border-left:2px dotted #e8e8e8;display:none}
.ant-list-item-meta-title{text-indent: 0}
.ant-card-bordered{border: none;}
.anticon{line-height: 22px;position: relative;top: 5px;}

/*poetry*/
.todayPoetry{margin-top: 20px;background: rgba(255,255,255,0.4);}
.todayPoetry ul:hover{color: #fff;}
.poetry-title{text-align: center;margin-top: 15px;}
.poetry-author{text-align: center;margin-top: 5px;}
.poetry-content{text-align: center;margin-top: 15px;padding:0 7px;}
.tj,.tj-poetry{margin-top: 20px;padding-left: 10px;}
.banner{margin-bottom: 15px;}
.ant-carousel .slick-slide{text-align:center;height:250px;background:#364d79;overflow:hidden;}
.ant-carousel .slick-slide img{width: 100%;height: 100%;}
.bannerList{position: relative;}
.dec-show{position: absolute;top: 0;width: 100%;height: 250px;color: #fff;}
.dec-show div{padding-top: 100px;line-height: 50px;}

#cnzz_stat_icon_1276199744{display: none;}