@charset "utf-8";
.infosbox {width: 100%; float: right; overflow: hidden; background: rgba(255,255,255,0.8);}
.newsview { padding: 0 30px }
.intitle { line-height: 40px; height: 40px; font-size: 14px; ; border-bottom: #000 2px solid; }
.intitle a { font-weight: normal; }
.news_title { font-size: 24px; font-weight: normal; padding: 20px 0; color: #333;text-align: center; }
.bloginfo{ width:100%; overflow:hidden}
.bloginfo ul{display: flex;justify-content: space-around;margin: 0 325px;}
.bloginfo li{ float:left; margin-right:20px}

.news_content { line-height: 24px; font-size: 14px; }
.news_content p { overflow: hidden; padding-bottom: 4px; padding-top: 6px; word-wrap: break-word; }
.tags a {  padding: 3px 8px; margin: 0 5px 0 0; color: #fff;border-radius: 5px;margin-left: 5px;border-radius: 7px;}
.infosbox img {  height: auto; width:65%;margin: 24px auto; }
.infosbox .ant-card-body{padding: 0;}
.nextinfo { line-height: 24px; width: 100%; overflow: hidden; margin: 20px 0 }
.nextinfo p { padding: 4px 10px; border-radius: 5px; }
.nextinfo a:hover { color: #fff; text-decoration: underline }
.newsview table{margin: 30px 0 30px 30px;width: 97%;}
.newsview table tr td:nth-child(2){padding-left: 15px;}
.news_pl { margin: 10px 0; width: 100%;  overflow: hidden;  }
.news_pl h2 { border-bottom: #000 2px solid; line-height: 40px; font-size: 14px; padding-left: 10px; color: #000 }
.diggit {  width: 160px; margin: auto; background: #E2523A; color: #fff; box-shadow: 1px 2px 6px 0px rgba(0,0,0,.2); border-radius: 3px; line-height: 40px; text-align: center; }
.diggit a { color: #fff; }
#diggnum { margin: 5px; }
.guanzhu{ top:10px;width:100%;}

.ant-card-wider-padding .ant-card-body {padding: 0px;}
.index-blog-content{margin: 20px 0 0 0; line-height: 22px; overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; white-space: nowrap;-webkit-box-orient: vertical; width:95%}

.news_con thead{background: #d1d1d1;}
.news_con table th ,td{text-align: center;border: 1px solid #fff;}
.news_con table tbody tr:nth-child(even){background: cornsilk}
.news_con table tbody tr:nth-child(odd){background: darkkhaki}