.modal-shadow {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 9999999;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;

  .modal-content {
    height: auto;
    background-color: #fff;
    border-radius: 5px;
    .modal-head {
      font-weight: 900;
      padding: 10px 5px 10px 10px;
      border-bottom: 2px solid #000;
      display: flex;
      justify-content: space-between;
      align-items: center;
      span {
        display: block;
        width: 20px;
        height: 20px;
        line-height: 20px;
        border-radius: 50%;
      }
    }
    .modal-center {
      padding: 10px;
    }
    .modal-footer {
      text-align: right;
      display: flex;
      justify-content: right;
      margin-bottom: 10px;
      span {
        margin-right: 5px;
      }
    }
  }
}
.none {
  display: none;
}
.active {
  display: flex;
}

.shadow {
  background-color: rgba(0, 0, 0, 0.4);
}
