
.ant-carousel{
    width:1200px;
    margin:0 auto;
    margin-top:50px;
}
.ant-carousel .slick-slide {
    text-align: center;
    height: 720px;
    line-height: 160px;
    background: #364d79;
    overflow: hidden;
}

